body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

.background-image {
  height: 100vh;
  width: 60vw;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 700px;
  background-repeat: no-repeat;
  background-image: url(assets/tower.jpg);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: rgb(236, 235, 235);
  height: 100vh;
}

header {
  margin: 0px 50px 50px 50px;
}

form {
  padding: 0px 50px 30px 50px;
  background-color: white;
  box-shadow: 0px 3px 3px grey;
}

label {
  font-size: 12px;
}

footer {
  padding: 30px 50px 50px 50px;
}

.cols {
  display: flex;
  flex-direction: columns;
  gap: 50px;
}

input {
  margin-bottom: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  background-color: rgb(0 0 0 / 0.5);
  padding: 10px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  color: white;
  font-size: 25px;
}

button {
  background-color: bisque;
  border-radius: 5px;
  border: 1px solid black;
  padding: 7px 15px;
  box-shadow: 0px 3px 3px grey;
}

a {
  text-decoration: none;
}

input:invalid {
  border-color: red;
}